build
*.deb
*/debian/files
*.build
*.changes
*.dsc
*/core.*
*.tar.gz
*.debhelper.log
*.debhelper
debian/*.substvars
wb-homa-adc/debian/wb-homa-adc/
.d
debian/wb-homa-adc
debian/wb-mqtt-adc
debian/tmp
debian/files
debhelper-build-stamp
.clang-format

### Visual Studio Code ###
.vscode
.devcontainer

### direnv ###
.direnv
.envrc
