Source: wb-homa-adc
Maintainer: Evgeny Boger <boger@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 10),
               g++,
               libjsoncpp-dev,
               libmosquitto-dev,
               libmosquittopp-dev,
               libwbmqtt1-dev (>= 0.2),
               pkg-config

Package: wb-homa-adc
Architecture: any
Depends: bc,
         jq (>= 1.4),
         libjsoncpp0 | libjsoncpp1,
         libwbmqtt1 (>= 0.2),
         ucf,
         wb-utils (>= 2.0.4),
         ${misc:Depends},
         ${shlibs:Depends}
Suggests: linux-image-wb2 (>= 4.9+wb20181221180922) | linux-image-wb6 (>= 4.9+wb20181221180922)
Breaks: wb-mqtt-confed (<< 1.0.2)
Description: Wiren Board Smart Home MQTT ADC driver (WB-specific) compatible with HomA conventions
